@charset "UTF-8";

div.left{
        width:18%;
        float:left;
        box-sizing:border-box;
        background:#a3d1f0;   
        border:1px solid #000;
        margin-bottom: 5%;   
     }
     ul{
        list-style:none;
        padding-left:0;
        text-align:center;
     }
     div.right{
        margin-left: 5%;
        float:left;
        box-sizing:border-box;   
     }
     li.mainLi{
        margin-bottom:4%;
        background:#f3c304;
        color:white;
        font-size:17px;
        font-family:bolder;
        line-height:50px;
     }
     li.memberLi{   
        line-height:50px;
     }
     label.boardLabel{
        font-size:15px;
        font-family:"본고딕";   
        font-weight:bold;
     }
     ul{
        line-height:35px;
     }
     li.underLi{
        border-bottom:1px solid #a8a3a3; width:96%; margin-left: 2%;
     }
     a.boardLink{
        text-decoration:none; color:#212121; 
     
     }
     a.linkA{
        text-decoration:none; color:white;
     }
     label.categoryLabel{
        font-size:17px;
        font-family:bolder;
        color:white;
     }
     li.categoryLi{
        background-color:#26d3b1;
        line-height:50px;
        list-style-position:inside;
        text-align:center;
     }
     
     label.linkLabel{
        font-size:17px;
        font-family:"본고딕";
     }
     
     li.linkLi{
        border-radius:10px;
        line-height:50px;
        list-style-position:inside;
        text-align:center;
        margin-top:4%;
     }
           
     @media (min-width: 1420px){
        div.right{
        width:70%;
        }
     }
  
     @media screen and (max-width: 768px) {
         .left{
            display : none;
         }
         div.right{
            width : 100%; 
         }
     }
     @media screen and (max-width: 1420px) {
         .bottom{
            display : none;
         }
         #top{
            display : none;
         }
         .right{
            width : 75%;
         } 
     }
     div.bottom{
        width: 10%;
        float: left; 
        margin-left: 5%;
        margin-top: 3%;
     }
 
     @media (min-width: 1420px){
     	div.right{
        width:70%;
        }
        .map{
        margin-left: 15%;
        }

     }
  
     @media screen and (max-width: 768px) {
      	.left{
      		display : none;
      	}
      	div.right{
      		width : 100%; 
      	}
      	.menubutton{
      		display :none;
      	}
      	.map{
      		margin-left: 1%;
      	}
      	.footer{
      		margin-top: 15%;
      	}
     }
     
     @media all and (min-width: 768px) {
	.navbar{
		display : none;
		position: fixed;  			
	}
     }

     @media screen and (max-width: 1420px) {
      	.bottom{
      		display : none;
      	}
      	#top{
      		display : none;
      	}
      	.right{
      		width : 75%;
      	}

     }
     
     .map{
     	border : 1px solid;
     	margin-bottom :2%;
     	margin-top :2%;
     	text-align:center;
     	width: 60%;
     	height: 100%;
     }